

.address-choose {
    position: relative;
    width: 317px;
    height: 30px;
    line-height: 30px;
    background-color: white;
    font-size: 12px;
    padding: 5px 30px;
}

.address-choose input {
    padding-left: 10px;
    margin-top: 5px;
    margin-right: 10px;
    width: 150px;
    float: right;
}

.address-choose select {
    border-radius: none;
}

.address-panel {
    position: absolute;
    top:31px;
    left: 50%;
    z-index: 9999;
}

.box {
    width: 300px;
    background: #fff;
    border: 1px solid #ededed;
    border-top: 0;
}

.tab_menu {
    overflow: hidden;
    font-size: 14px;
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
}

.tab_menu li {
    box-sizing: border-box;
    width: 100px;
    float: left;
    height: 30px;
    line-height: 30px;
    color: #000;
    background: #eee;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ccc;
    border-top: 1px solid #efefef;
    border-left: 0;
}

.tab_menu li:first-child {
    border-left: 1px solid #efefef;
}

.tab_menu li:last-child {
    border-right: 1px solid #efefef;
}

.tab_menu li.current {
    color: #3bb7f7;
    background: #fff;
    border-bottom: 0;
}

.tab_menu li a {
    color: #fff;
    text-decoration: none;
}

.tab_menu li.current a {
    color: #333;
}

.tab_box {
    width: 300px;
    box-sizing: border-box;
    padding: 10px;
    margin-top: -0px;
    background-color: white;
    font-size: 14px;
}

.tab_box li {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
}

.tab_box span {
    display: inline-block;
    padding: 0 2px;
    margin: 4px;
    cursor: pointer;
    font-size: 12px;
}

.tab_box span:hover {
    background-color: #3bb7f7;
    color: white;
}

.tab_box li span {
    margin: 0 5px 0 0;
    font-family: "宋体";
    font-size: 12px;
    font-weight: 400;
    color: #ddd;
}

.tab_box .hide {
    display: none;
}

@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon/icomoon.eot?-rdnm34");
    src: url("../fonts/icomoon/icomoon.eot?#iefix-rdnm34") format("embedded-opentype"), url("../fonts/icomoon/icomoon.woff?-rdnm34") format("woff"), url("../fonts/icomoon/icomoon.ttf?-rdnm34") format("truetype"), url("../fonts/icomoon/icomoon.svg?-rdnm34#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}


/* Default custom select styles */

div.cs-select {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-align: left;
    background: #fff;
    z-index: 100;
    width: 100%;
    max-width: 500px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.cs-select:focus {
    outline: none;
    /* For better accessibility add a style for this in your skin */
}

.cs-select select {
    display: none;
}

.cs-select span {
    display: block;
    position: relative;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 12px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Placeholder and selected option */

.cs-select > span {
    padding-right: 3em;
}

.cs-select > span::after,
.cs-select .cs-selected span::after {
    speak: none;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cs-select > span::after {
    content: '\25BE';
    right: 1em;
}

.cs-area.cs-select > span::after {
    right: 4px;
}

.cs-select .cs-selected span::after {
    content: '\2713';
    margin-left: 1em;
}

.cs-area.cs-select .cs-selected span::after {
    margin: 0;
}

.cs-select.cs-active > span::after {
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}


/* Options */

.cs-select .cs-options {
    position: absolute;
    overflow: hidden;
    width: 100%;
    background: #fff;
    visibility: hidden;
}

.cs-area.cs-select .cs-options {
    bottom: 8px;
    width: 70px;
}

.cs-area.cs-select .cs-options ul span {
    padding: 5px;
}

.cs-select.cs-active .cs-options {
    visibility: visible;
}

.cs-select ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.cs-select ul span {
    padding: 1em;
}

.cs-select ul li.cs-focus span {
    background-color: #ddd;
}

.cs-select .cs-placeholder {
    background-color: #45dcfc;
}

.cs-area.cs-select {
    width: 70px;
    padding: 3px 8px;
    height: 21px;
}

.cs-area.cs-select .cs-placeholder {
    background-color: #fff;
    color: #333;
    padding: 0;
    padding-left: 4px;
    border: 1px solid #eeeeee;
}

.cs-area.cs-select .cs-options span {
    color: #868686;
}


/* Optgroup and optgroup label */

.cs-select li.cs-optgroup ul {
    padding-left: 1em;
}

.cs-select li.cs-optgroup > span {
    cursor: default;
}

div.cs-skin-elastic {
    background: #fff;
    color: #868686;
}

@media screen and (max-width: 30em) {
    div.cs-skin-elastic {
        font-size: 1em;
    }
}

.cs-skin-elastic > span {
    z-index: 100;
}

.cs-skin-elastic > span::after {
    font-family: 'icomoon';
    content: '\e005';
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cs-area.cs-skin-elastic > span {
    height: 19px;
    line-height: 19px;
}

.cs-area.cs-skin-elastic > span::after {
    font-family: 'icomoon';
    content: '\e005';
    transform: rotate(180deg);
    top: 0;
    color: #999;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cs-skin-elastic .cs-options {
    background-color: #fff;
    overflow: visible;
    background: transparent;
    opacity: 1;
    visibility: visible;
    padding-bottom: 1.25em;
    pointer-events: none;
}

.cs-skin-elastic.cs-active .cs-options {
    pointer-events: auto;
}

.cs-skin-elastic .cs-options > ul::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1);
    background: #fff;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.cs-skin-elastic.cs-active .cs-options > ul::before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition: none;
    transition: none;
    -webkit-animation: expand 0.6s ease-out;
    animation: expand 0.6s ease-out;
}

.cs-skin-elastic .cs-options ul li {
    opacity: 0;
    -webkit-transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
    -webkit-transition: opacity 0.15s, -webkit-transform 0.15s;
    transition: opacity 0.15s, transform 0.15s;
}

.cs-skin-elastic.cs-active .cs-options ul li {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    -webkit-transition: none;
    transition: none;
    -webkit-animation: bounce 0.6s ease-out;
    animation: bounce 0.6s ease-out;
}

.cs-skin-elastic .cs-options span {
    background-repeat: no-repeat;
    background-position: 1.5em 50%;
    background-size: 2em auto;
    color: #868686;
}

.cs-skin-elastic .cs-options span:hover,
.cs-skin-elastic .cs-options li.cs-focus span,
.cs-skin-elastic .cs-options .cs-selected span {
    color: #45dcfc;
}

@-webkit-keyframes expand {
    0% {
        -webkit-transform: scale3d(1, 0, 1);
    }
    25% {
        -webkit-transform: scale3d(1, 1.2, 1);
    }
    50% {
        -webkit-transform: scale3d(1, 0.85, 1);
    }
    75% {
        -webkit-transform: scale3d(1, 1.05, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
    }
}

@keyframes expand {
    0% {
        -webkit-transform: scale3d(1, 0, 1);
        transform: scale3d(1, 0, 1);
    }
    25% {
        -webkit-transform: scale3d(1, 1.2, 1);
        transform: scale3d(1, 1.2, 1);
    }
    50% {
        -webkit-transform: scale3d(1, 0.85, 1);
        transform: scale3d(1, 0.85, 1);
    }
    75% {
        -webkit-transform: scale3d(1, 1.05, 1);
        transform: scale3d(1, 1.05, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translate3d(0, -25px, 0);
        opacity: 0;
    }
    25% {
        -webkit-transform: translate3d(0, 10px, 0);
    }
    50% {
        -webkit-transform: translate3d(0, -6px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, 2px, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translate3d(0, -25px, 0);
        transform: translate3d(0, -25px, 0);
        opacity: 0;
    }
    25% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
    50% {
        -webkit-transform: translate3d(0, -6px, 0);
        transform: translate3d(0, -6px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, 2px, 0);
        transform: translate3d(0, 2px, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.leaflet-popup-content {
    text-align: center;
}
